header{
    background-color: antiquewhite;
}
h1{
    color:rgb(185, 247, 30);
}


header img{
    width: 100px;
    height: 100px;
}
main{
    background-color:blanchedalmond;
}
footer{
    background-color: aqua;

}
header button{
    width: 100px;
    height: 20px;
    font-size: 10px;
    background-color: beige

}
footer button{
    width: 100px;
    height: 20px;
    font-size: 10px;
    background-color: beige;
    text-align: right;

}
body{
    background-color: beige;

margin: 0%;
}


 body {
    background-image: url("c:\Users\Hp\Music\prateek files\prateek files\One-Piece-Logo-PNG-File.png");

}